# Ignore virtual environment
.venv/
adaptive_research_innovation/.venv/

# Ignore environment variables file
.env
adaptive_research_innovation/.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore macOS system files
.DS_Store
